body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-size: cover;
}
.header{
    font-size: 25px;
    width: 100%;
}
.link{
    font-size: 15px;
    background-color: white;
    border-radius: 75px;
    width: 100px;
}
ul {
    list-style-type: none;
   }
   canvas{
    border-radius: 10px;
   }